<div class="row">
  <div class="col-xs-11 col-xs-offset-1">
    <h1>Fiscal Workshops</h1>
  </div>

  <div class="col-xs-8 col-xs-offset-1">
    <p>Thank you for visiting the Fiscal Workshop page!</p>
    <p>
      Here, you will find documents that were referenced at the workshops along with agendas, meeting notes, handouts and court cases.  We’ve also posted the Election Cost and Billing Guide, which is one of the working documents that resulted from the workshops.
    </p>
    <p>
      We began hosting the fiscal workshops in 2015, and have been able to continue them this year. In 2016, we already hosted 3 workshops (in Sacramento, Santa Clara and San Bernardino respectively) and are planning a 4th one on December 14, 2016 at New Law.  We will send out invitations for this event soon.
    </p>
    <p>Thank you for participating in this project!</p>

  </div>

  <div class="col-xs-11 col-xs-offset-1">
    <ul>
      <li><%= link_to "Methodology of Election Costs Guide", "/data/02022016-DRAFTVersion10MethodologyofElectionCosts.docx" %></li>
      <li><%= link_to "County of Fresno v. Clovis Unified School Dist.1987.pdf", "/data/County of Fresno v. Clovis Unified School Dist.1987.pdf" %></li>
      <li><%= link_to "County of Yolo v. Los Rios Comm College Dist case.1992.pdf", "/data/County of Yolo v. Los Rios Comm College Dist case.1992.pdf" %></li>
      <li><%= link_to "CCROV 13060 mandate suspension 13 14 (003).pdf", "/data/CCROV 13060 mandate suspension 13 14 (003).pdf" %></li>
      <li><%= link_to "Fiscal Staff Workshops Agenda 8.29 & 8.30 & 9.12.2016.final.pdf", "/data/Fiscal Staff Workshops Agenda 8.29 & 8.30 & 9.12.2016.final.pdf" %></li>
    </ul>
  </div>
</div>
