<div class="row">
  <div class="col-xs-11 col-xs-offset-1">
    <h1>Documents Related to Fiscal Workshops</h1>
  </div>

  <div class="col-xs-11 col-xs-offset-1">
    <ul>
      <li><%= link_to "Methodology of Election Costs Guide", "/data/02022016-DRAFTVersion10MethodologyofElectionCosts.docx" %></li>
      <li><%= link_to "County of Fresno v. Clovis Unified School Dist.1987.pdf", "/data/County of Fresno v. Clovis Unified School Dist.1987.pdf" %></li>
      <li><%= link_to "County of Yolo v. Los Rios Comm College Dist case.1992.pdf", "/data/County of Yolo v. Los Rios Comm College Dist case.1992.pdf" %></li>
      <li><%= link_to "CCROV 13060 mandate suspension 13 14 (003).pdf", "/data/CCROV 13060 mandate suspension 13 14 (003).pdf" %></li>
      <li><%= link_to "Fiscal Staff Workshops Agenda 8.29 & 8.30 & 9.12.2016.final.pdf", "/data/Fiscal Staff Workshops Agenda 8.29 & 8.30 & 9.12.2016.final.pdf" %></li>
    </ul>
  </div>
</div>
