

  <% if message.errors.any? %>
    <ul>
      <% message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>


<%= simple_form_for message do |f| %>

  <%= f.input  :name,  label: "Name",  :label_html => { :class => "form_item" } %>
<%= f.input  :email,  label: "Email Address",  :label_html => { :class => "form_item" } %>
  <%= f.input  :message_subject,  label: "Message Subject" ,  :label_html => { :class => "form_item" } %>
  <%= f.input  :body, label: "Message" ,  :as => :text,  :label_html => { :class => "form_item"} %>


 <div class="form-actions">
    <%= f.submit  "Submit" %>
</div>

  <% end %>


