<%= render 'progress_breadcrumb'%>

  <table class="table table-condensed table-hover" style="border-collapse:collapse;">
    <colgroup>
      <col width="20%"></col>
      <col width="10%"></col>
      <col width="10%"></col>
      <col width="60%"></col>
    </colgroup>
    <thead>
      <tr>
        <th>County</th>
        <th>Surveys Started</th>
        <th>Elections Started</th>
        <th>Overall Completeness</th>
      </tr>
    </thead>
    <tbody>
      <% @counties.each do |county| %>
        <% completeness = SurveyResponse.query_completeness(county:county) %>
        <tr class='row-link' data-link="<%= progress_path(county) %>">
          <td><%= county.name.gsub(' County','') %></td>
          <td><%= SurveyResponse.where(county:county).count %></td>
          <td><%= SurveyResponse.where(county:county).pluck(:election_id).uniq.count %></td>
          <td>
            <div class="progress election-year">
              <div class="progress-bar" 
                role="progressbar"
                aria-valuenow=<%="#{ completeness }"%> 
                aria-valuemin="0" 
                aria-valuemax="100" 
                style="<%="width: #{ completeness }%;" %>"
                >
                <%= completeness %>%
              </div>
            </div>
          </td>
          </a>
        </tr>
      <% end %>
    </tbody>
  </table>
