<div class="form-group">
  <%= r.label( question.field, class: 'control-label caceo-form-label' ) do %>
    <%= question.label %>
    <span class="info">
      <a href= <%= "##{question.field}_modal" %> data-toggle='modal'>(what's this?)</a>
    </span>
  <% end %>

  <div class="caceo-form-input input-group survey-question">
    <% if question.na_able? %>
      <label class="input-group-addon">
        <%= r.check_box "#{question.field}_na", class: "na-checkbox" %> N/A
      </label>
    <% end %>
      <div class="caceo_checkbox_group">
        <% langs = "#{question.survey_id}::#{question.field.upcase}".constantize %>
        <%= r.input_field "#{question.field}_multi_select".to_sym, collection: langs, as: :check_boxes %>
      </div>
  </div>
</div>
