<div class="form-group">
  <%= f.label( question.field, class: 'control-label caceo-form-label' ) do %>
    <%= question.label %>
    <span class="info">
      <a href= <%= "##{survey_question.field}_modal" %> data-toggle='modal'>(what's this?)</a>
    </span>
  <% end %>

  <div class="caceo-form-input input-group">
    <% if question.na_able? %>
      <label class="input-group-addon">
        <%= f.check_box "#{survey_question.field}_na" %> N/A
      </label>
      <div class="caceo_checkbox_group">
        <%= f.input_field "#{question.field}_value", collection: question.options, as: :check_boxes %>
      </div>
    <% end %>
    <div class="caceo_checkbox_group">
      <%= f.input_field survey_field, collection: question.options, as: :check_boxes %>
      </div>
  </div>
</div>