<div class="form-group">
  <%= f.label( question.field, class: 'control-label caceo-form-label' ) do %>
    <%= question.label %>
    <span class="info">
      <a href= <%= "##{question.field}_modal" %> data-toggle='modal'>(what's this?)</a>
    </span>
  <% end %>

  <div class="caceo-form-input input-group survey-question">
    <% if question.na_able? %>
      <label class="input-group-addon">
        <%= f.check_box "#{question.field}_na", class: "na-checkbox" %> N/A
      </label>
    <% end %>
    <%= f.input_field question.field, as: :boolean, boolean_style: :inline, class: "form-control value-field" %>
  </div>
</div>


<div class="form-group">
  <%= f.label( question.field, class: 'control-label caceo-form-label' ) do %>
    <%= question.label %>
    <span class="info">
      <a href= <%= "##{question.field}_modal" %> data-toggle='modal'>(what's this?)</a>
    </span>
  <% end %>

  <div class="caceo-form-input input-group survey-question">
    <% if question.na_able? %>
      <label class="input-group-addon">
        <%= f.check_box "#{question.field}_na", class: "na-checkbox" %> N/A</label>
    <% end %>
    <%= f.input_field question.field, as: :boolean, boolean_style: :inline, class: "form-control value-field" %>
  </div>
</div>
