     <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%=simple_form_for(@user)  do |f| %>
    <%= f.input :username, label: "Username", required:true %>
    <%= f.input :email, label: "Email", as: :email,  required:true %>
    <%= f.input :county_id, collection: @counties,  prompt: "Select Your County Affiliation"%>
    <%= f.input :password, label: "Password", as: :password,  required:true %>
    <%= f.input :password_confirmation, label: "Password Confirmation" %>
    <%= f.input :access_code , label: "Enter Your Access Code" %>
    <%= f.submit :Signup %>
  <% end %>
