
    <div class="show_item_title_main">
      <%= "Total Salaries - Tasks: $#{survey_presenter.salary_total}" %>
    </div>

    <% survey_presenter.salary_items.each do | item | %>
      <div class="show_item_title_sub">
        <%= "#{ format_survey_label item.label}: #{ survey_presenter.response_for( item, numeric_dollars: true ) }" %>
      </div>
    <% end %>
    
    <div class="show_item_title_main">
      <%= "Total Salaries - Types of Staff and Pay: $#{survey_presenter.salary_estimate_total}" %>
    </div>    

    <% survey_presenter.salary_estimate_items.each do | item | %>
      <div class="show_item_title_sub">
        <%= "#{ format_survey_label item.label}: #{ survey_presenter.response_for( item, numeric_dollars: true ) }" %>
      </div>
    <% end %>

    <div class="show_item_title_main">
      <%= "Total Benefits - in Dollars: $#{survey_presenter.benefits_dollar_total}" %>
    </div>
    
    <% survey_presenter.benefits_dollar_items.each do | item | %>
      <div class="show_item_title_sub">
        <%= "#{ format_survey_label item.label}: #{ survey_presenter.response_for( item, numeric_dollars: true ) }" %>
      </div>
    <% end %>

    <% if survey_presenter.survey.benefits_percent? %>
      <div class="show_item_title_main">
        <%= "Total Benefits - in Percent: #{survey_presenter.benefits_percent_total}%" %>
      </div>
      
      <% survey_presenter.benefits_percent_items.each do | item | %>
        <div class="show_item_title_sub">
          <%= "#{ format_survey_label item.label}: #{ survey_presenter.response_for( item ) }%" %>
        </div>
      <% end %>
    <% end %>

    <div class="show_item_title_main">
      <%= "Total Hours Worked: #{ survey_presenter.hours_total }" %>
    </div>

    <% survey_presenter.hours_items.each do | item | %>
      <div class="show_item_title_sub">
        <%= "#{ format_survey_label item.label}: #{ survey_presenter.response_for( item ) }" %>
      </div>
    <% end %>
     
  <div class="show_item_title_total">Total Salaries Including Benefits</div>

  <div class="show_item_total">
    <%= "$#{ survey_presenter.salary_estimate_benefits_total }" %>
  </div>