<% match = /ssbalpri(\w+)ml/.match( survey_question.field ) || /eplang(vra|caec)/.match( survey_question.field ); langs = nil %>

<% if match %>
  <% if match[1] == 'vra' || match[1] == 'caec'%>
    <% langs = "ElectionProfile::#{match[1].upcase}_LANGUAGES".constantize
    survey_field = "eplang#{match[1]}_multi_lang".to_sym %>
  <% else %>
    <% langs = Ssbal::LANGUAGES
    survey_field = "ssbalpri#{match[1]}_multi_lang".to_sym %>
  <% end %>
    <%= f.input( survey_field, 
          # wrapper: :horizontal_input_group
          collection: langs,
          as: :check_boxes,
          input_html: { :multiple => true } 
        ) do %>
        <% end %>
<% else %>
  <% survey_field = survey_question.field.to_sym %>


  <div class="form-group">

    <%= f.label( survey_field, class: 'control-label caceo-form-label' ) do %>
      <%= "#{ format_survey_label( survey_question.label ) }" %>
      <span class="info">
        <a href= <%= "#{survey_field}_modal" %> data-toggle='modal'>(what's this?)</a>
      </span>
    <% end %>

    <%= f.input survey_field, wrapper: :horizontal_input_group do %>
    <% unless survey_question.comment? %>
      <span class="input-group-addon">
        <%= f.input "#{survey_field}_na", as: :boolean, boolean_style: :inline, label: 'N/A', label_style: :inline %>
      </span>
    <% end %>
      <%= f.input_field survey_field, class: 'form-control' %>
    <% end %>

  </div>
<% end %>