<% present_survey(@survey)  do |survey_presenter| %>

  <h2 class ="myh2yr"><%= "Edit #{ format_survey_label @survey.title} #{survey_presenter.header_text} #{ @survey.election.year }" %>
  &rarr;  Step <%= @survey.data.current_step + 1 %> of <%= @survey.data.total_steps + 1 %></h2>

  <%= render partial: 'general_surveys/survey', 
    locals: { survey_presenter: survey_presenter, survey: @survey } %>

  <div class="end_link">
    <%= link_to "Exit Survey ", url_for( [ @survey.data ] ) %>|
    <% if @survey.election_profile? %>
      <%= link_to "Election Profile Home", election_profile_home_path  %>
    <% else %>
      <%= link_to "Back to Direct Cost Categories for #{ @survey.election.year }", election_year_categories_path( @survey.election.id ) %> |
      <%= link_to "Direct Cost Category Home", home_path  %>
    <% end %>
  </div>
<% end %>