
<h2 class ="myh2yr">Survey Overview for <%= current_user.county.name %></h2>
<div class ="instructs">Click on an Election to view Surveys</div>

<table class="table table-condensed" style="border-collapse:collapse;">
  <colgroup>
    <col width="35%"></col>
    <col width="40%"></col>
    <col width="10%"></col>
    <col width="15%"></col>
  </colgroup>
  <thead>
    <tr>
      <th>Election</th>
      <th>Percent Complete</th>
      <th></th>
      <th>Direct Costs</th>
    </tr>
  </thead>
    <tbody>
    <% @elections.each do |election| %>
      <% election_survey_responses = SurveyResponse.where( county: current_user.county, election: election) %>
      <% completeness =  election_survey_responses.overall_completeness(
        counties: current_user.county,
        elections: election) 
      %>
      <tr>
        <td><%= link_to election.name, election_surveys_path(election) %></td>
        <td>
          <div class="progress election-year">
            <div class="progress-bar" 
              role="progressbar" 
              aria-valuenow=<%="#{ completeness }"%> 
              aria-valuemin="0" 
              aria-valuemax="100" 
              style="<%="width: #{ completeness }%;" %>">
              <% unless election_survey_responses.blank? %>
                <%= completeness %>%
              <% end %>
            </div> 
          </div>
        </td>
        <td></td>
        <td>
          <% if election_survey_responses.blank? %>
            <span class="text-muted">Not Started<span>
          <% else %>
            $<%= number_with_delimiter election_survey_responses.total %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% total_cost = SurveyResponse.where( county: current_user.county ).total %>
<h2 class ="myh2yr_tot"> TOTAL DIRECT COSTS FOR ALL ELECTIONS: $<%= number_with_delimiter total_cost %></h2>
