
<h2 class ="myh2yr">Direct Cost Categories Overview For <%= @county_name[0] %></h2>

<table class="table table-condensed" style="border-collapse:collapse;">
  <thead>
    <tr>
      <th> Year</th>
      <th>Started</th>
     <th>Complete</th>
     <th>Direct Costs</th>
    </tr>
  </thead>
    <tbody>
    <%counter = 1 %>
    <% @years.each do  |yr| %>
        <tr data-toggle="collapse" data-target=".demo<%= counter.to_s %>" class="accordion-toggle">
            <td> <%=  yr[:year_dt] %> Statewide  Elections </td>
            <td>  <%=  yr[:started].html_safe  %> </td>
            <td><%=  yr[:done].html_safe  %> </td>
            <td></td>
        </tr>
        <% yr[:all_years_electionz].each do |y| %>
        <tr>
           <td class="hiddenRow">
                <div class="accordian-body collapse demo<%= counter.to_s%>">
                 <div class= "myaccordion"> <%=link_to y[1],  election_year_categories_path(y[0])  %></div></div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo<%= counter.to_s %>">
                <div class= "checkline"> <%= y[2].html_safe %></div></div>
            </td>
            <td class="hiddenRow">
                   <div class="accordian-body collapse demo<%= counter.to_s %>">
                    <div class= "checkline"> <%=y[3].html_safe %></div></div>
            </td>
            <td class="hiddenRow">
                   <div class="accordian-body collapse demo<%= counter.to_s %>">
                  <div class= "checkline">$ <%=y[4].to_s %></div></div>
            </td>
        </tr>
         <% end %>
        <%counter = counter + 1 %>
        <% end %>
    </tbody>
</table>

<h2 class ="myh2yr_tot"> TOTAL DIRECT COSTS FOR ALL ELECTIONS: $<%= @total_election_year_costs %></h2>
