
<h2 class ="myh2yr">Direct Cost Categories Year Overview for <%= current_user.county.name %></h2>
<div class ="instructs"> (Click on a Year, then on an Election to Begin)</div>

<table class="table table-condensed" style="border-collapse:collapse;">
  <colgroup>
    <col width="35%"></col>
    <col width="40%"></col>
    <col width="10%"></col>
    <col width="15%"></col>
  </colgroup>
  <thead>
    <tr>
      <th>Election</th>
      <th>Percent Complete</th>
      <th></th>
      <th>Direct Costs</th>
    </tr>
  </thead>
    <tbody>
    <% @elections.each do |election| %>
      <tr>
        <td><%= link_to election.year, election_surveys_path(election) %></td>
          <td>
            <div class="progress election-year">
            <div class="progress-bar" 
              role="progressbar" 
              aria-valuenow=<%="#{election.percent_answered_direct_cost( current_user )}"%> 
              aria-valuemin="0" 
              aria-valuemax="100" 
              style="<%="width: #{election.percent_answered_direct_cost( current_user )}%;" %>">
              <% if election.surveys_open?( current_user ) %>
                <%= election.percent_answered_direct_cost( current_user ) %>%
              <% else %>
              <% end %>
            </div> 
            </div>
          </td>
          <td></td>
          <td>
            <% if election.surveys_open?(current_user) %>
              $<%= number_with_delimiter election.total_direct_cost_for( current_user ) %>
            <% else %>
              <span class="text-muted">Not Started<span>
            <% end %>
          </td>      
      </tr>
    <% end %>
  </tbody>
</table>

<h2 class ="myh2yr_tot"> TOTAL DIRECT COSTS FOR ALL ELECTIONS: $<%= number_with_delimiter @elections.inject(0) {|memo, y| memo + y.total_direct_cost_for( current_user ) } %></h2>
