
<%= form_for @tech_voting_machine, remote: true, html: { class: "form-horizontal", style: "display:inline;" } do |f| %>
  <div class="modal-body">
    <ul class="errors"></ul>

    <div class="control-group">
      <%= f.label :voting_equip_type, 'Voting Equipment Type ',  class:"control-label" %>
      <div class="controls">
        <%= f.text_field :voting_equip_type %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :purchase_dt, 'Purchase Date', class: "control-label" %>
      <div class="controls">
        <%= f.date_field :purchase_dt %>
      </div>
    </div>

     <div class="control-group">
      <%= f.label :equip_make, 'Make and Model',  class:"control-label" %>
      <div class="controls">
        <%= f.text_field :equip_make %>
      </div>
    </div>


     <div class="control-group">
      <%= f.label :purchase_price, 'Purchase Price',  class:"control-label" %>
      <div class="controls">
        <%= f.number_field :purchase_price %>
      </div>
    </div>


     <div class="control-group">
      <%= f.label :quantity, 'Quantity',  class:"control-label" %>
      <div class="controls">
        <%= f.number_field :quantity %>
      </div>
    </div>


     <div class="control-group">
      <%= f.label :offset_funds_src, 'Offsetting Funds Source',  class:"control-label" %>
      <div class="controls">
        <%= f.text_field :offset_funds_src %>
      </div>
    </div>


     <div class="control-group">
      <%= f.label :offset_amount, 'Offsetting Funds Amount',  class:"control-label" %>
      <div class="controls">
        <%= f.number_field :offset_amount %>
      </div>
    </div>

    <%=  f.hidden_field :county,  :value =>  @user[:county] %>



  </div>
  <div class="modal-footer">
    <%= f.submit  "Save", class: "btn" %>
    <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
  </div>
<% end %>




