<!-- survey_annotations, survey_model (e.g. @salbals),  @categories_path, election_name  -->

<% if @survey_annotations.pluck(:cost_type).uniq == 'salaries' %>
  <%header_item = " for the "  %>
<% else %>
  <%header_item = " Costs for the "  %>
<% end %>

<h2 class ="myh2yr"><%= "Edit #{@survey_annotations.pluck(:name).first.titleize} #{header_item} #{ @election_year.year }" %>
&rarr;  Step <%= @survey_model.current_step + 1 %> of <%= @survey_model.total_steps %></h2>

<%= render partial: 'surveys/survey', 
  object: @survey_model, 
  locals: { survey_annotations: @survey_annotations, 
            survey_pages: @survey_pages, 
            survey_name: @survey_name,
            election_year: @election_year } %>

<div class="end_link">
  <%= link_to "Back ", url_for( [ @survey_model ] ) %>|
  <%= link_to "Back to Cost Categories for #{ @election_year.year }", election_year_categories_path( @election_year.id ) %> |
  <%= link_to "Cost Category Home", home_path  %>
</div>