<% present_survey(@survey_form_model, @survey_data_model) do |survey_presenter| %>
  <% survey_presenter.sort_form_items %>

  <h2 class ="myh2show">
    <%= "#{survey_presenter.title_show} #{@election_year[:year].to_s}" %>
  </h2>
  <% puts survey_presenter.cost_type %>

  <% if survey_presenter.cost_type == 'salaries' %>
    <%= render partial: "surveys/salaries", locals: { survey_presenter: survey_presenter } %>
    <% survey_presenter.klass.category_total(@category.id, survey_presenter.salary_estimate_benefits_total ) %>
  <% else %>
    <%= render partial: "surveys/services_supplies", locals: { survey_presenter: survey_presenter } %>
    <% survey_presenter.klass.category_total(@category.id, survey_presenter.service_supply_total ) %>
  <% end %>

  <% survey_presenter.comment_items.each do |k, v| %>
    <div class="show_item_title">
      <%= k.titleize %>
    </div>
    <div class="show_item">
      <%= v.to_s %>
    </div>
  <% end %>

  <div class="end_link">
    <%= link_to 'Edit', send("edit_#{@model_singular}_path", @object.id) %> |
    <%= link_to 'Delete This Page', send("#{@model_singular}_path"), method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to "Back to Cost Categories for #{ @election_year.year }", election_year_categories_path( @election_year.id ) %> |
    <%= link_to "Cost Category Home", home_path  %>
  </div>
<% end %>