<% present_survey(@survey) do |survey_presenter| %>

  <h2 class ="myh2show">
    <%= "#{format_survey_label survey_presenter.title_show} #{@election_year[:year].to_s}" %>
  </h2>

  <%= render partial: "surveys/#{survey_presenter.cost_type}", locals: { survey_presenter: survey_presenter } %>

  <% survey_presenter.comment_items.each do | q | %>
    <div class="show_item_title">
      <%= format_survey_label q.label %>
    </div>
    <div class="show_item">
      <%= survey_presenter.response_for( q ) %>
    </div>
  <% end %>

  <div class="end_link">
    <%= link_to 'Edit', send("edit_#{@model_singular}_path", @survey.data.id) %> |
    <%= link_to 'Delete This Page', send("#{@model_singular}_path"), method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to "Back to Direct Cost Categories for #{ @election_year.year }", election_year_categories_path( @election_year.id ) %> |
    <%= link_to "Direct Cost Category Home", home_path  %>
  </div>
<% end %>