
<h2 class ="myh2yr">Election Profile Year Overview For <%= current_user.county.name %></h2>
<div class ="instructs"> (Click on a Year, then on an Election to Begin)</div>

<table class="table table-condensed" style="border-collapse:collapse;">
  <colgroup>
    <col width="35%"></col>
    <col width="40%"></col>
    <col width="10%"></col>
    <col width="25%"></col>
  </colgroup>
  <thead>
    <tr>
      <th>Election</th>
      <th>Percent Complete</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
    <tbody>
    <% @election_years.each do |election_year| %>
      <% election_profile = election_year.county_profile( current_user.county_id ) %>
      <% if election_profile.blank? %>
        <% url = url_for( controller: :election_profiles, action: :new, election_year_profile_id: election_year.id ) %>
        <% election_profile = nil %>
      <% else %>
        <% url = url_for( controller: :election_profiles, action: :show, id: election_profile.id, election_year_profile_id: election_year.id ) %>
        <% survey = GeneralSurvey.new( election_profile ) %>
      <% end %>

      <tr>
        <td><%= link_to election_year.year, url %></td>
          <td>
            <div class="progress election-year">
            <% if election_profile %>
              <div class="progress-bar" 
                role="progressbar" 
                aria-valuenow=<%="#{survey.percent_complete}"%> 
                aria-valuemin="0" 
                aria-valuemax="100" 
                style="<%="width: #{survey.percent_complete}%;" %>">
                  <%= survey.percent_complete %>%
              </div> 
            <% else %>
              <div class="progress-bar" 
                role="progressbar" 
                aria-valuenow=<%="0"%> 
                aria-valuemin="0" 
                aria-valuemax="100" 
                style="width: 0%;">
              </div> 
            <% end %>
            </div>
          </td>
          <td></td>
          <td>
            <% unless election_profile %>
              <span class="text-muted">Not Started<span>
            <% end %>
          </td>      
      </tr>
    <% end %>
  </tbody>
</table>

