<% if @sr_form.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @sr_form.response.errors.each do |field, msg| %>
        <li><%= "Your response to #{Question.find_by(field: field.to_s).label} #{msg}" %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render partial: 'question_modal', collection: @sr_form.current_page %>

<%= simple_form_for @sr_form,
 html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
  <%= hidden_field_tag 'survey_id', @survey.id %>
  <%= f.hidden_field :election_id,  value: @sr_form.election_id %>
  <%= f.hidden_field :county_id,    value: @sr_form.county_id %>
  <%= f.hidden_field :current_step, value: @sr_form.current_step %>

  <%= f.simple_fields_for :response do |r| %>
    <% @sr_form.current_page.each do |q| %>
      <%= render partial: "survey_responses/questions/input_field", locals: { question: q, f: r}  %>
    <% end %>

    <div class="form-actions">
      <% unless @sr_form.first_step?  %>
        <%= f.submit "Back", name: "back_button" %>
      <% end %>
      <% if @sr_form.last_step? %>
        <%= f.submit "Submit #{ survey.title } Costs for #{ @sr_form.model.election.name }" %>
      <% else %>
        <%= f.submit "Save and Exit", name: "save_and_exit" %>
        <%= f.submit "Save and Continue", name: "save_and_continue", method: :patch %>
        <%= f.submit "Next", name: "next_button" %>
      <%end %>
    </div>
  <% end %>
<% end %>
