<% if survey.data.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% survey.data.errors.each do |field, msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render partial: 'question_modals', collection: @response_form.pages.current_page %>
<%= simple_form_for @response_form, html: { class: 'form-horizontal' },
  wrapper: :horizontal_form do |f| %>
  <%= f.hidden_field :election_year_id, value: @response_form.election_id %>
  <%= f.hidden_field :county_id,        value: @response_form.county_id %>
  <%= f.hidden_field :current_step,     value: @response_form.current_step %>

  <% @response_form.pages.current_page.each do |question| %>
    <%= render partial: "questions/input_field", locals: { question: question, f: f}  %>
  <% end %>

  <div class="form-actions">
    <% unless @response_form.pages.first_step?  %>
      <%= f.submit "Back", name: "back_button" %>
    <% end %>
    
    <% if @response_form.pages.last_step? %>
      <%= f.submit "Submit #{ survey.title } Costs for #{ survey.election.year }" %>
    <% else %>
      <%= f.submit "Save and Exit", name: "save_and_exit" %>
      <%= f.submit "Save and Continue", name: "save_and_continue", method: :patch %>
      <%= f.submit "Next", name: "next_button" %>
    <%end %>
  </div>
<% end %>
