<div class="row">
  <div class="survey-show-summary">
    <div class="row">
      <ul class="list-group">
        <li class="list-group-item row">
          <h4 class="survey-show-question">Question</h4>
          <h4 class="survey-show-response">Response</h4>
        </li>
        <% survey.service_supply_items.each do | item | %>
          <li class="list-group-item row">
            <span class="survey-show-question"><%= format_survey_label item.label %></span>
            <span class="survey-show-response"><%= survey_presenter.as_dollars survey.response_for( item ) %></span>
          </li>
        <% end %>
        <% survey.comment_items.each do | q | %>
          <li class="list-group-item row">
            <span class="survey-show-question"><%= format_survey_label q.label %></span>
            <span class="survey-show-response"><%= survey.response_for( q ) %></span>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="row">
      <div class="survey-show-question show_item_title_total">Total</div>
      <div class="survey-show-response show_item_total"><%="$#{ survey.service_supply_total }" %></div>
    </div>
  </div>
</div>