
<h2 class ="myh2yr"><%= "Edit #{ @survey.title} for the #{ @survey_response.election.name }" %>
&rarr;  Step <%= @sr_form.current_step + 1 %> of <%= @sr_form.total_steps %></h2>

<%= render partial: 'survey_responses/survey', locals: { survey: @survey } %>

<div class="end_link">
  <%= link_to "Back to Response Summary", survey_response_path( @survey_response.id ) %> |
  <% unless current_user.super_user? %>
    <%= link_to "Surveys for #{ @sr_form.model.election.name }", 
        election_surveys_path( @sr_form.election_id ) %> |
    <%= link_to "All Elections", elections_path  %>
  <% end %>
</div>