<h2 class ="myh2show">
  <%= "#{@survey_response.survey.title} Summary for the #{ @survey_response.election.year }" %>
</h2>

<% if @survey.subsections.count > 0 %>
  <%= render partial: "survey_responses/summaries/subsection", collection: @survey.subsections %>
<% else %>
  <%= render partial: "survey_responses/summaries/questions", locals: { values: @survey_response.values } %>
<% end %>

<div class="end_link">
  <%= link_to 'Edit', edit_survey_response_path( @survey_response.id ) %> |
  <%= link_to 'Delete Survey Response', survey_response_path( @survey_response.id ),
        method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to "Back to Surveys for #{ @survey_response.election.year }", 
        election_surveys_path( @survey_response.election_id ) %> |
  <%= link_to 'All Elections', home_path  %>
</div>