<div class="center-block q2-show-sr-block">
  <%= render 'show_nav' %>
  <div class="panel panel-default q2-survey-panel"> 
    <h2 class="panel-heading panel-title q2-survey-panel-title">
      <%= "#{@survey_response.survey.title} for the #{ @survey_response.election.name }" %>
    </h2>

    <% if @survey.subsections.count > 0 %>
      <%= render partial: "survey_responses/summaries/subsection",
          collection: @survey.subsections %>
    <% else %>
      <%= render partial: "survey_responses/summaries/questions", 
          locals: { values: @survey_response.values } %>
    <% end %>

    <% if @survey_response.questions.where(sum_able: true).count > 0 %>
      <h3>Category Total: <%= @survey_response.total %></h3>
    <% end %>

    <%= render 'survey_options_nav' %>
  </div>
  <%= render 'show_nav' %>
</div>
