<h2 class ="myh2show">
  <%= "#{@response_form.survey.title} Summary for the #{ @response_form.election.year }" %>
</h2>

@survey_response.subsections

<% if @response_form.subsections.count > 0 %>
  <%= render partial: "survey_subsection", collection: @response_form.subsections %>
<% end %>

<%= render partial: "response_summary" %>

<div class="end_link">
  <%= link_to 'Edit', edit_survey_responses_path, @response_form.id) %> |
  <%= link_to 'Delete Survey Response', survey_responses_path( @response_form.id ),
        method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to "Back to Surveys for #{ @response_form.election.year }", 
        election_surveys_path( @response_form.election_id ) %> |
  <%= link_to 'Elections', home_path  %>
</div>

<%
# promises
# - subsections
# - subsection_summary and response_summary partials
# - totaling in partials.
# - response_form forwarding methods to survey_response
# - election_controller, surveys_controller
%>