<% response = responses.detect { |r| r.klass.to_s.underscore.pluralize == survey.table_name } %>
<% if response.data.persisted? %>
  <% total = response.total %>
  <% percent = response.percent_complete %>
  <% url = url_for( controller: survey.table_name, action: 'show', id: response.data.id ) %>
<% else %>
  <% url = url_for( controller: survey.table_name, action: 'new' ) %>
<% end %>

<div class="row">
  <div class="survey-index-title">
    <span><%= link_to( survey.title, url ) %></span>
  </div>

  <div class="survey-index-progress">
    <div class="progress">
      <% if response %>
        <div class="progress-bar" role="progressbar" aria-valuenow=<%="#{percent}"%> aria-valuemin="0" aria-valuemax="100" style="<%="width: #{percent}%;" %>">
          <%= percent ? "#{percent}%" : '' %></div>
      <% else %>
      <% end %>
    </div>
  </div>

  <div class="survey-index-total">
    <%= total ? "$#{number_with_delimiter total}" : 'Not Started'%>
  </div>
</div>
