<li class="mynav_li"><%= link_to "Direct Cost Categories", home_path  %></li>
<li class="mynav_li"><%= link_to "Election Profiles", election_profile_home_path  %></li>
<li class="mynav_li"><%= link_to "Election Technology", election_technologies_path  %></li>
<li class="divider"></li>

<li class="mynav_li"><%= link_to "Download Direct Cost Categories Spreadsheet", "/data/Direct_Cost_Categories_Spreadsheet_Dec8.xls" %></li>
<li class="mynav_li"><%= link_to "Download Election Profiles Spreadsheet", "/data/Election_Profile_Spreadsheet_Dec8.xls" %></li>
<li class="divider"></li>
<li class="mynav_li"><%= link_to "What's New?", announcements_path  %></li>
